<div>
    <header-web-tentang></header-web-tentang>
    <div class="ui container padding-list">
        <div class="ui icon floating message">
            <i class="orange rss square icon"></i>
            <div class="content">
                <div class="header">
                    Blog WWWID Web App 1.0.0 @ {{getTanggalSekarang}}
                </div>
                <p>Aplikasi yang berisi umpan berita dari situs Medium WWWID Indonesia. Aplikasi ini merupakan aplikasi hasil pembelajaran
                    dalam penggunaan JavaScript ES2015+ , Framework VueJS, dan library CSS Semantic UI. Kode sumber aplikasi
                    ini dapat dilihat di
                    <a href="https://github.com/GulajavaMinistudio/BlogWWWID" target="_blank">Github GulajavaMinistudio</a> ini. Silahkan di fork untuk dipelajari kode-kodenya.</p>
            </div>
        </div>
    </div>
</div>