.gambar-ukuran {
    /* float:left;
    position: relative; */
    width: 20%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover; /* you change this to "contain" if you don't want the images to be cropped */
}

.container-gambar {
    width: 300px;
    height: auto;
}

.ui.segment:last-child {
    margin-bottom: 1.3em;
}