.gambar-cropped {
  display: block;
  max-width: 100%;
  max-height: 200px;
  height: auto;
  width: 300px;
  object-fit: cover;
  object-position: center;
}

.container-gambar {
    width: 300px;
    height: auto;
}

.ui.segment:last-child {
    margin-bottom: 1.3em;
}
