.border-radius-header {
    border-radius: 0px;
}

/* .padding-top-bottom-header {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
} */

.ui.segment {
    padding: 0.2em 0.2em;
}

.ui.inverted.segment, .ui.primary.inverted.segment {
    background: #00BBF0;
    color: rgba(255,255,255,.9);
}

.ui.menu {
    font-size: 11pt;
    font-weight: bold;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui) {
  background: 0 0;
  color: white;
  font-weight: bold;
}
